.login-body {
    background: rgb(130, 76, 187);
    background: linear-gradient(180deg, rgba(130, 76, 187, 1) 0%, rgba(54, 167, 204, 1) 100%);
}

.form-login-box {
    max-width: 500px;
    margin: 216px auto;
}

.form-login-title {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background-color: #262157;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    background-color: #2C2B69;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.login-input {
    margin-bottom: 20px;
    padding: 15px;
    font-weight: 700;
    border-radius: 10px;
}

.input-password-login-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.login-passowrd {
    width: 100%;
    padding: 10px 40px 10px 10px;
}

.login-input-password-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-image: url("../images/lock.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.login-input-password-btn--on {
    background-image: url("../images/unlock.png");
}

.login-btn-box {
    display: flex;
    justify-content: flex-end;
}

.login-btn {
    margin-top: 20px;
    padding: 10px 40px;
    font-weight: 700;
    color: #ffffff;
    background-color: #60B12B;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}